body {
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    background-color: white;
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

/* invisible table */
td {
    border: none;
}

.center {
    text-align: center;
}

.profile-pic {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.login {
    font-weight: bold;
    font-size: 18px;
    margin-top: 10px;
}

.description {
    color: gray;
    font-size: 14px;
    margin-bottom: 10px;
}

.socials img {
    width: 30px;
    margin: 5px;
}

button {
    margin-top: 15px;
    padding: 10px 20px;
    border: none;
    background-color: black;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #333;
}
