.container {
    display: flex;
    flex-wrap: wrap;
}

.box {
    width: 50%;
    height: 300px;
    font-size: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box1 {
    background-color: lightblue;
}

.box2 {
    background-color: lightgreen;
}

/* Small screens */
@media (max-width: 768px) {
    .box {
        width: 100%;
    }
}
