/* ทำให้หน้าเว็บเต็มจอ */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

/* ตาราง responsive */
table {
    width: 100%;
    height: 50%;
    border-collapse: collapse;
}

/* cell */
td {
    width: 50%;
    text-align: center;
    vertical-align: middle;
    font-size: 2vw; /* ตัวอักษรย่อ-ขยายตามหน้าจอ */
}

/* สี */
.left {
    background-color: lightgreen;
}

.right {
    background-color: peachpuff;
}

@media (max-width: 768px) {
    table {
        height: 100%;
    }

    tr {
        display: block;
        height: 100%;
    }

    td {
        display: block;
        width: 100%;
        height: 50%;
        font-size: 6vw; /* ให้อ่านออกตอนมือถือ */
    }
}
